In [1]:
!pip install python-dotenv

Collecting python-dotenv
  Using cached python_dotenv-1.2.1-py3-none-any.whl (21 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.2.1

[notice] A new release of pip is available: 23.0.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import os
from dotenv import load_dotenv

load_dotenv()
MONGO_DB = os.getenv("MONGO_DB")

In [5]:
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [6]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')

In [ ]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = MONGO_DB

In [12]:
# Diagnostics: show effective env and connection URL
print('MONGO_DB (from os.getenv):', MONGO_DB)
CONNECTION_URL = MONGO_DB
print('CONNECTION_URL used to create MongoClient:', CONNECTION_URL)
if not MONGO_DB:
    print('WARNING: MONGO_DB is empty. Ensure notebook/.env exists and load_dotenv() ran, or set the env var in your environment.')
else:
    if str(MONGO_DB).startswith('mongodb'):
        print('INFO: MONGO_DB looks like a full MongoDB URI (Atlas or mongodb://...).')
    else:
        print('INFO: MONGO_DB does not look like a full URI; it may be a hostname. Use a full URI like mongodb://mongo_db:27017 or mongodb://localhost:27017.')

MONGO_DB (from os.getenv): mongodb+srv://tb61946_db_user:yTgbYcCqDJ3kfm4Z@cluster0.tkchdzz.mongodb.net/?appName=Cluster0
CONNECTION_URL used to create MongoClient: mongodb+srv://tb61946_db_user:yTgbYcCqDJ3kfm4Z@cluster0.tkchdzz.mongodb.net/?appName=Cluster0
INFO: MONGO_DB looks like a full MongoDB URI (Atlas or mongodb://...).

In [13]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [14]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [15]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,699588bae3be4e2c63e0cace,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,699588bae3be4e2c63e0cacf,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0